@import '../../../styles/variables.scss';
@import '../../../styles/breakpoints.scss';
.count {
    background-color: #387BB9;
    border-radius: 50%;
    position: absolute;
      right: 10px;
      bottom: -2px;
      font-weight: 400;
      font-size: 6px;
      line-height: 8px;
      color: #F5F8FA;
      padding: 3px 5px;
      @include for-small-up {
        padding: 1px 3px;
        right: 8px;
        bottom: -1px;
      }
    
  }