@import '../../../styles/variables.scss';
@import '../../../styles/breakpoints.scss';
.count {
  background-color: #387bb9;
  border-radius: 50%;
  position: absolute;
  right: 9px;
  bottom: -7px;
  font-weight: 400;
  font-size: 6px;
  line-height: 8px;
  color: #f5f8fa;
  padding: 4px 6px;
  @include for-small-up {
    padding: 2px 4px;
    right: 1px;
    bottom: -2px;
  }
}
