@import '../../../styles/variables.scss';
@import '../../../styles/breakpoints.scss';

.burger {
    display: none;
    margin-left: 30px;
    &_page {
      cursor: pointer;
    }
    @include for-large-up {
      display: block;
      height: 100%;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    @include for-small-up {
      margin-left: 10px;
    }
    &_btn {
      width: 32px;
      height: 11px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      &_line {
        height: 1.5px;
        background-color: #2d4153;
        &:first-child {
          width: 32px;
        }
        &:last-child {
          width: 22px;
        }
      }
    }
  }