@import '../../styles/variables.scss';
@import '../../styles/breakpoints.scss';

.pages {
  width: 110px;
  @include for-large-up {
    grid-column: 1/2;
    left: -340px;
  }
  @include for-medium-up {
    position: relative;
    margin: 0;
    left: 0;
    display: flex;
    align-items: center;
  }
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px 0;
  .page-number,
  .start-page-number {
    cursor: pointer;
    padding: 5px 10px;
    color: #cddeed;
  }
  .start-page-number {
    color: #476785;
  }
  :hover{
    color: #476785;
  }
}
