@import '../../styles/variables.scss';
@import '../../styles/breakpoints.scss';

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dee6ed;
  padding: 0 25px;
  align-items: center;
  height: 72px;
  @include for-small-up {
    padding: 0 15px;
  }
  &__searchContainer {
    position: relative;
    top: 40px;
  }
  &__block {
    &_logo {
      border-right: 1px solid #dee6ed;
      padding-right: 25px;
      height: 100%;
      display: flex;
      align-items: center;
      @include for-small-up {
        border-right: none;
        padding-right: 10px;
      }
    }
    &_menu {
      display: none;
      &_page {
        cursor: pointer;
      }
      @include for-large-up {
        display: block;
        height: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;
      }
      &_btn {
        width: 32px;
        height: 11px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        div {
          height: 1.5px;
          background-color: #2d4153;
          &:first-child {
            width: 32px;
          }
          &:last-child {
            width: 22px;
          }
        }
      }
    }
    &_svg {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      height: 100%;
      align-items: center;
      svg {
        margin: 0 15px;
        @include for-small-up {
          height: 15px;
          margin: 0 9px;
        }
        @media (max-width: 400px) {
          margin: 0 3px;
        }
      }
      a {
        position: relative;
      }
      @media (max-width: 400px) {
        justify-content: space-between;
      }
    }
  }
}
