.collection {
  position: relative;
  color: #97a9ba;
  text-decoration: none;
  &:hover {
    svg {
      stroke: #2d4153;
    }
  }
}
.set-item4 {
  svg {
    margin-left: 5px;
    stroke: #97a9ba;
    &:hover {
      stroke: #2d4153;
    }
  }
}
