@import '../../styles/variables.scss';
@import '../../styles/breakpoints.scss';
.collection {
  position: relative;
  color: #97a9ba;
  text-decoration: none;
  &:hover {
    svg {
      stroke: #2d4153;
    }
  }
}
.set-item4 {
  svg {
    margin-left: 5px;
    stroke: #97a9ba;
    &:hover {
      stroke: #2d4153;
    }
    @include for-small-up {
      width: 25px;
    }
  }
  @include for-small-up {
    font-size: 12px;
  }
}
